.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
    display: flex;
    padding: 0 10px;
    align-content: center;
    border: 1px solid #c0c0c0;
    font-weight: bold;
    color: #fff;
    background-color: #4f689e;
    height: 29px;
    font-size: 12px;
    border-radius: 3px;
}

.menu-item {
    white-space: nowrap;
}
